# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
.claude

# React Native / Metro
.metro-health-check*
.metro-cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# build outputs
build/
coverage/

# environment files
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo

# native
*.orig
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# iOS
ios/Pods/
ios/build/
*.xcworkspace
*.xcuserstate
*.xcuserdata/

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# IDEs / editors
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
.idea/

# misc
*.log